/* web page backround and font color */
body{
    background-color:rgb(36, 38, 167);
    color: rgb(255, 255, 255);
    border: 2px solid black;
    margin: 0%;

}
.header{
    background-image:url("./images/Blue.jpg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 2em;
    text-align:left;
}
.nav{
    background: rgb(67, 37, 236);
    padding: 1em;
    text-align: left;
    border: solid rgb(29, 120, 255);
}
.nav a{
    text-decoration: none;
    color: rgb(219, 219, 219);
    padding: 5px;
    border:2px solid rgb(93, 156, 252);
    margin-left:4px
}
.container > .sidebar{
    background: rgb(80, 80, 80);
    margin: 0px;
    padding:0px;
    border:0px
}
.footer{
    background-image:url("./images/Blue.jpg");
    background-position: center;
}
.button{
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 255);
    border:10px 10px 10px 10px;
    border-radius: 4px;
    padding: 15px 25px;
    margin: 0px 0px 0px 40px;
    cursor:pointer;

}
.button:hover{
    background-color: blue;
    color:white;
}
h1{
    color:rgb(63, 63, 63);
    text-shadow: 2px 2px 2px rgb(255, 255, 255)
}
h4{
    color:rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgb(255, 255, 255)
}
Img{
    border-radius: 3px;
}
/* Will lower a picture instead of scaling the web 
page down */
.container {
    margin:0%;
    padding:0px;
}
.container > .content {
    background-image:url("./images/blue2.jpg");
    background-position:1px;
    background-repeat: no-repeat;
    margin:0px;
    padding:0px;
    border:0px;
    color: rgb(255, 255, 255);
    font-size: 15pt;
}


